.env
.env*
.readthedocs.yaml
.tool-versions
Earthfile
justfile
mkdocs.yml
ngrok.url
README.md
tilt_config.json
Tiltfile

dist/**
.tilt/**
.github/**
charts/**
dist/**
docs/**
localdev/**
tools/**

**/.terraform/*
**/terraform.tfstate*