apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: argocd-application-controller
spec:
  template:
    spec:
      containers:
      - name: argocd-application-controller
        lifecycle:
          preStop:
            exec:
              command:
                - "/usr/bin/sleep"
                - "25"