{{ if .Values.argocd.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "kubechecks.fullname" . }}
  namespace: {{ .Values.argocd.namespace }}
roleRef:
  kind: Role
  name: {{ include "kubechecks.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: {{ include "kubechecks.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{ end }}
