{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubechecks.serviceAccountName" . }}
  labels:
    {{- include "kubechecks.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{ toYaml . | indent 4 }}
  {{- end}}
{{- end }}
