name: maintenance

on:
  schedule:
    - cron: "0 9 * * 1"   # 9 am on Monday

jobs:
  clean-up:
    runs-on: ubuntu-24.04

    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@v10.1.1
        with:
          days-before-stale: '120'
