name: pr_build

on:
  pull_request:
    paths:
      - '*'
      - '*/**'
      - '!README.md'
      - '!COPYING.LGPL-3'
      - '!.gitattributes'
      - '!.gitignore'
    types:
      - opened
      - reopened
      - synchronize

env:
  FS_TAG: 0.0.0-pr${{ github.event.pull_request.number }}

jobs:
  build:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"
          cache: true

      - name: Prepare output dirs
        run: |
          mkdir -p out/linux-amd64
          mkdir -p out/linux-arm64

      - name: Build linux/amd64
        run: |
          time env CGO_ENABLED=0 GOOS=linux GOARCH=amd64 \
            go build \
              -trimpath \
              -ldflags="-s -w \
                -X github.com/zapier/kubechecks/pkg.GitCommit=${GIT_COMMIT} \
                -X github.com/zapier/kubechecks/pkg.GitTag=${GIT_TAG}" \
              -o out/linux-amd64/kubechecks 

      - name: Build linux/arm64
        run: |
          time env CGO_ENABLED=0 GOOS=linux GOARCH=arm64 \
            go build \
              -trimpath \
              -ldflags="-s -w \
                -X github.com/zapier/kubechecks/pkg.GitCommit=${GIT_COMMIT} \
                -X github.com/zapier/kubechecks/pkg.GitTag=${GIT_TAG}" \
              -o out/linux-arm64/kubechecks
      - uses: ./.github/actions/build-image
        id: build-image
        with:
          push: '${{ github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name }}'
          image_tag: ${{ env.FS_TAG }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: mshick/add-pr-comment@v2
        with:
          message: |
            Temporary image available at `${{ steps.build-image.outputs.image }}`.
        if: github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
