on:
  push:
    branches:
      - main

env:
  FS_IMAGE: ghcr.io/${{ github.repository }}

jobs:
  release-docker:
    runs-on: ubuntu-24.04

    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0  # necessary for 'git describe' to work

      - run: echo "GIT_TAG=$(git describe --tags)" >> $GITHUB_ENV

      - uses: ./.github/actions/build-image
        with:
          push: 'true'
          image_tag: ${{ env.GIT_TAG }}
          token: ${{ secrets.GITHUB_TOKEN }}

  release-helm:
    runs-on: ubuntu-24.04

    permissions:
      contents: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "Open Source at Zapier"
          git config user.email "opensource@zapier.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          config: .github/cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      # see https://github.com/helm/chart-releaser/issues/183
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push chart to GHCR
        run: |
          helm package charts/kubechecks
          helm push kubechecks-*.tgz oci://ghcr.io/${GITHUB_REPOSITORY_OWNER}/charts

