name: go ci
on:
  pull_request:
    paths:
      - '.github/workflows/on_pull_request_go.yaml'
      - 'Makefile'
      - 'Dockerfile'
      - '*/**.go'
      - '*.go'
      - 'go.mod'
      - 'go.sum'
jobs:
  ci-golang:
    runs-on: ubuntu-24.04
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Parse tool versions
        uses: wistia/parse-tool-versions@v1.0

      - name: Cache Go modules + build cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-linux-${{ matrix.arch }}
          restore-keys: |
            ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-
            ${{ runner.os }}-go-
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6

      - name: Run tests
        run: make test
