name: go ci
on:
  pull_request:
    paths:
      - '.github/workflows/on_pull_request_go.yaml'
      - 'Earthfile'
      - '*/**.go'
      - '*.go'
      - 'go.mod'
      - 'go.sum'
jobs:
  ci-golang:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - uses: djeebus/parse-tool-versions@v2.1

      - uses: earthly/actions-setup@v1
        with: { version: "v${{ env.EARTHLY }}" }

      - run: ./earthly +ci-golang
