on:
  push:
    branches:
      - main

jobs:
  release-helm:
    runs-on: ubuntu-24.04

    permissions:
      contents: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "Open Source at Zapier"
          git config user.email "opensource@zapier.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          config: .github/cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
