name: pr_build
on:
  pull_request:
    paths:
      - '*'
      - '*/**'
      - '!README.md'
      - '!.tool-versions'
      - '!COPYING.LGPL-3'
      - '!.gitattributes'
      - '!.gitignore'

# TODO: Move this to repo config
jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        platform:
          - linux/amd64
#          - linux/arm64

    steps:
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: all
        if: matrix.platform == 'linux/arm64'

      - uses: actions/checkout@v3

      - name: extract git sha
        run: echo "GIT_SHA_SHORT=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      # Reads in .tools-versions and spits out env variables
      - uses: wistia/parse-tool-versions@v1.0

      - uses: earthly/actions-setup@v1
        with: { version: "v${{ env.EARTHLY_TOOL_VERSION }}" }

      - run: |
          earthly \
            --platform ${{ matrix.platform }} \
            +docker \
              --GIT_COMMIT=${{ env.GIT_SHA_SHORT }} \
              --GIT_TAG=mr \
              --GOLANG_VERSION=${{ env.GOLANG_TOOL_VERSION }}
