name: docs ci
on:
  pull_request:
    paths:
      - '.github/workflows/on_pull_request_docs.yaml'
      - 'Makefile'
      - '*/**.go'
      - '*.go'
      - 'go.mod'
      - 'go.sum'
      - 'docs/usage.md*'
jobs:
  lint-docs:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Parse tool versions
        uses: wistia/parse-tool-versions@v1.0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GOLANG_TOOL_VERSION }}
          cache: true

      - name: Rebuild the docs
        run: make rebuild-docs

      - name: Verify that the checked in file has not changed
        run: ./hacks/exit-on-changed-files.sh "Please run 'make rebuild-docs' and commit the results to this PR"
