on:
  push:
    branches:
      - main

env:
  FS_IMAGE: ghcr.io/${{ github.repository }}

jobs:
  release-docker:
    runs-on: ubuntu-22.04

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # necessary for 'git describe' to work

      - run: echo "GIT_TAG=$(git describe --tags)" >> $GITHUB_ENV

      - uses: ./.github/actions/build-image
        with:
          image_tag: ${{ env.GIT_TAG }}
          token: ${{ secrets.GITHUB_TOKEN }}

  release-helm:
    runs-on: ubuntu-22.04

    permissions:
      contents: write

    steps:
      - name: checkout the source code
        uses: actions/checkout@v3

      - uses: wistia/parse-tool-versions@v1.0

      - uses: earthly/actions-setup@v1
        with: { version: "v${{ env.EARTHLY_TOOL_VERSION }}" }

      - name: Build and push the helm charts
        run: |
          earthly \
            --push \
            +release-helm \
              --repo_owner ${{ github.repository_owner }} \
              --token ${{ secrets.GITHUB_TOKEN }}

