name: release new version

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  release-docker:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/build-image
        with:
          image_tag: ${{ github.ref_name }}
          tag_latest: true
          token: ${{ secrets.GITHUB_TOKEN }}
          push: true
